<!DOCTYPE html>
<html>
<head>
  <title>Case Management</title>
</head>
<body>
  <h1>Cases</h1>
  <a href="/add_case">Add New Case</a> | <a href="/logout">Logout</a>
  <table border="1">
    <tr>
      <th>Client Name</th>
      <th>Status</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>
    <% cases.forEach(case => { %>
      <tr>
        <td><%= case.client_name %></td>
        <td><%= case.case_status %></td>
        <td><%= case.date_created.toISOString().split('T')[0] %></td>
        <td>
          <a href="/case/<%= case.id %>">View</a> |
          <a href="/edit_case/<%= case.id %>">Edit</a> |
          <a href="/delete_case/<%= case.id %>" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
      </tr>
    <% }) %>
  </table>
</body>
</html>