<%- include('layout', { body: `
  <h2>Cases</h2>
  <table>
    <thead>
      <tr>
        <th>Client Name</th>
        <th>Status</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% cases.forEach(caseData => { %>
        <tr>
          <td><%= caseData.client_name %></td>
          <td><%= caseData.case_status %></td>
          <td><%= caseData.date_created.toDateString() %></td>
          <td>
            <a href="/case/<%= caseData.id %>">View</a>
            <a href="/edit_case/<%= caseData.id %>">Edit</a>
            <a href="/delete_case/<%= caseData.id %>" onclick="return confirm('Are you sure?')">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
` }) %>